In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
rng = pd.date_range(start = '2019/01/01', end = '2019/01/10')
date = '2019/01/01'

pro =['apple', 'mango', 'banana', 'pineapple', 'graps', 'guava', 'watermelon', 'chickoo', 'pomegranate', 'orange']
ord1 = [1,2,3,4,5,6,7,8,9,10]
pri = [100, 110, 120, 130, 140, 150, 160, 170, 180, 190]
per = [2, 4, 8, 16, 32, 64, 128, 258, 516, 1032]
ter = 'yes', 'yes', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'yes'
df = pd.DataFrame({'date' : date,
                       'fruits' : pro,
                       'trend' : ter,
                        'ranking' : ord1,
                       'price': pri,
                       'percentage' : per})

In [34]:
df.head(1)

         date fruits trend  ranking  price  percentage
0  2019/01/01  apple   yes        1    100           2

## 1) THIS DATASET IS CROSS- SECTIATIONAL DATASET

## 2) MONTHLY_ORDER, PRICE, PERCENTAGE ARE QUANTITATIVE DATA

## 3) TREND IS QUALITATIVE DATA

## 4) FRUITS IS NOMINAL COLUMN ACCORDING TO RANKING,  PRICE, PERCENTAGE

## 5) ORDINAL DATASET ACCORDING TO FRUIT AND RANKING

## 6) PRICE IS COUNTINUES DATA

## 7) PERCENTAGE DISCREATE DATA

## 8) PRICE IS INTERVAL DATA LIKE 100-110, 110-120 .......

In [35]:
df

         date       fruits trend  ranking  price  percentage
0  2019/01/01        apple   yes        1    100           2
1  2019/01/01        mango   yes        2    110           4
2  2019/01/01       banana   yes        3    120           8
3  2019/01/01    pineapple   yes        4    130          16
4  2019/01/01        graps    no        5    140          32
5  2019/01/01        guava    no        6    150          64
6  2019/01/01   watermelon   yes        7    160         128
7  2019/01/01      chickoo   yes        8    170         258
8  2019/01/01  pomegranate    no        9    180         516
9  2019/01/01       orange   yes       10    190        1032