In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('IMDB-Movie-Data.csv', index_col = 'Title')

In [3]:
df.head() #that movie finding more ranting   and search on spacy

,Rank,Genre,Description,Director,Actors,Year,Duration,Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [4]:
df.shape

(1000, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
Rank                  1000 non-null int64
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Duration              1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    872 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [6]:
dup_df = df.append(df)

In [7]:
dup_df.shape

(2000, 11)

In [8]:
dup_df.drop_duplicates(inplace=True,keep=False)

In [9]:
dup_df.shape

(0, 11)

In [10]:
df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Duration', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore'],
      dtype='object')

In [39]:
df.rename(columns={'revenue (millions)': 'Revenue'}, inplace = True)

In [40]:
# for i in df.columns: # this in not correct way
#     print(i.lower())

In [41]:
df.columns = [x.lower() for x in df.columns]

In [54]:
df.head(20)

,rank,genre,description,director,actors,year,duration,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
The Great Wall,6,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
Mindhorn,8,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
The Lost City of Z,9,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
Passengers,10,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0
Fantastic Beasts and Where to Find Them,11,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02,66.0
Hidden Figures,12,"Biography,Drama,History",The story of a team of female African-American...,Theodore Melfi,"Taraji P. Henson, Octavia Spencer, Janelle Mon...",2016,127,7.8,93103,169.27,74.0
Rogue One,13,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
Moana,14,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",2016,107,7.7,118151,248.75,81.0
Colossal,15,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,2.87,70.0
The Secret Life of Pets,16,"Animation,Adventure,Comedy",The quiet life of a terrier named Max is upend...,Chris Renaud,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",2016,87,6.6,120259,368.31,61.0
Hacksaw Ridge,17,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0
Jason Bourne,18,"Action,Thriller",The CIA's most dangerous former operative is d...,Paul Greengrass,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",2016,123,6.7,150823,162.16,58.0
Lion,19,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0
Arrival,20,"Drama,Mystery,Sci-Fi",When twelve mysterious spacecraft appear aroun...,Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",2016,116,8.0,340798,100.50,81.0

In [43]:
df.isnull().sum()

rank             0
genre            0
description      0
director         0
actors           0
year             0
duration         0
rating           0
votes            0
revenue        128
metascore       64
dtype: int64

In [44]:
temp = df.copy()
temp.head()

,rank,genre,description,director,actors,year,duration,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [45]:
temp.dropna(axis = 1, inplace= True)

In [46]:
temp.shape

(1000, 9)

In [47]:
df.head(10)

,rank,genre,description,director,actors,year,duration,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
The Great Wall,6,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
Mindhorn,8,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
The Lost City of Z,9,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
Passengers,10,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

In [52]:
df[['director', 'revenue', 'votes']].groupby(['director'], as_index = False).mean().sort_values(by = 'votes', ascending = False)

                        director     revenue         votes
108            Christopher Nolan  303.018000  1.311817e+06
261                James Cameron  760.510000  9.354080e+05
341                  Joss Whedon  541.135000  7.812415e+05
506            Quentin Tarantino  112.480000  6.398965e+05
608                   Tim Miller  363.020000  6.277970e+05
410              Martin Scorsese   91.622000  5.933048e+05
377                  Lee Unkrich  414.980000  5.866690e+05
490                  Pete Docter  324.715000  5.694460e+05
470              Olivier Nakache   13.180000  5.579650e+05
299                 Joe Johnston  176.640000  5.473680e+05
22                Alfonso Cuarn  154.685000  5.024995e+05
45                 Anthony Russo  333.915000  4.770090e+05
141                David Fincher  105.544000  4.619304e+05
642                  Zack Snyder  195.148000  4.603088e+05
114              Colin Trevorrow  652.180000  4.551690e+05
510                 Rian Johnson   66.470000  4.523690e+05
94                    Chris Buck  400.740000  4.518940e+05
252                  J.J. Abrams  336.690000  4.349874e+05
495                Peter Jackson  215.112500  4.246738e+05
394                 Marc Forster  185.360000  4.213085e+05
416               Matthew Vaughn   90.262500  4.169082e+05
320                  Jon Favreau  256.400000  4.111495e+05
195             Francis Lawrence  324.952500  4.064122e+05
395                    Marc Webb  165.756667  4.051583e+05
13   Alejandro Gonzlez Irritu   86.760000  3.977133e+05
575                  Spike Jonze   25.560000  3.905310e+05
217                George Miller  175.810000  3.869915e+05
32                Andrew Stanton  261.053333  3.848633e+05
564                  Shane Black  222.620000  3.830450e+05
208                    Gary Ross  408.000000  3.827495e+05
..                           ...         ...           ...
242              Hisonni Johnson         NaN  4.990000e+02
566                Shawn Burkett         NaN  4.960000e+02
244           Hope Dickson Leach         NaN  4.820000e+02
207         Gary Michael Schultz         NaN  4.030000e+02
500           Philippe Falardeau    0.110000  3.910000e+02
295                 Jim Sheridan         NaN  3.780000e+02
192                   Filip Renc         NaN  3.530000e+02
7                  Aisling Walsh         NaN  3.460000e+02
303                  John Butler         NaN  3.380000e+02
99                  Chris Stokes         NaN  3.130000e+02
529                Robin Swicord    0.010000  2.910000e+02
17               Alex Ranarivelo         NaN  2.860000e+02
266                 James Lapine         NaN  2.800000e+02
511         Ricardo de Montreuil    4.210000  2.790000e+02
302                  Joey Curtis   20.760000  2.770000e+02
259                   Jamal Hill         NaN  2.560000e+02
481         Patrick Read Johnson         NaN  2.410000e+02
532               Rolfe Kanefsky         NaN  2.400000e+02
116                  Corey Asraf         NaN  2.230000e+02
165               Dominique Abel         NaN  2.220000e+02
284                   Jeff Grace         NaN  2.200000e+02
191                Femi Oyeniran         NaN  2.020000e+02
20            Alexandros Avranas         NaN  1.980000e+02
175              Eleanor Coppola    0.320000  1.780000e+02
329            Jonathan Holbrook         NaN  1.730000e+02
406                Mark Williams         NaN  1.640000e+02
21                  Alexi Pappas         NaN  1.150000e+02
221            Gillies MacKinnon         NaN  1.020000e+02
144                David Leveaux         NaN  9.600000e+01
25                 Amber Tamblyn         NaN  6.100000e+01

[644 rows x 3 columns]

In [53]:
df[:][df.votes == 1311817]

Empty DataFrame
Columns: [rank, genre, description, director, actors, year, duration, rating, votes, revenue, metascore]
Index: []

In [50]:
1311817

1311817

In [23]:
# df.isnull().sum()

In [24]:
# df.Director.value_counts().head()

In [25]:
# df.Actors.value_counts(ascending = False)

In [26]:
# https://www.kaggle.com/PromptCloudHQ/imdb-data

In [27]:
# df.Rating.value_counts()

In [28]:
# df[:][df['Rating'] >= 9]

In [29]:
# df[:][df['Votes'] >= df['Votes'].max()]

In [30]:
# df[:][df['Revenue (Millions)'] >= df['Revenue (Millions)'].max()]

In [31]:
# df[:][df['Metascore'] >= df['Metascore'].max()]

In [32]:
# df.Title.value_counts().max()

In [33]:
# df['Duration'].mean()